%h1 NAVS Y TABBARS
%p
	Las barras de navegación 
	%span.code &lt;nav&gt;
	en Coolstrap soportan cualquier tipo de botón 
	%span.code &lt;a&gt;
	se encuentre este en dentro de una lista o no. 
	Las barras de navegación, al igual que los header tienen una altura default de 44px, pero también está la posibilidad de convertirlas en un tabbar más alto que pueda soportar la incorporación de íconos y texto. Esto suele darse en los footers.
	Para convertir un 
	%span.code &lt;nav&gt;
	en un tabbar es necesario agregarle el atributo
	%span.code data-type="tabbar"
	Estirándose a la altura default de esta barra que es de 50px y permitiendo el adecuado comportamiento de ubicación en los elementos en su interior.
%h1 	
	NAVS
%h2 
	Navs fuera del 
	%span.code &lt;article&gt;
%p 
	Un 
	%span.code &lt;nav&gt; 
	puede encontrarse también fuera del 
	%span.code &lt;article&gt; 
	e incluso fuera del 
	%span.code &lt;section&gt; 
	y quedar adherida al header.
%h2 
	%span.code &lt;nav&gt;
	sin 
	%span.code &lt;ul&gt;
	y con botones de texto en su interior.	
%nav
	%a button 1
	%a button 2
	%a button 3
	%a button 4
%pre
	= preserve do
		:escaped
			<nav>
			  <a>button 1</a>
			  <a>button 2</a>
			  <a>button 3</a>
			  <a>button 4</a>
			</nav>
%h2
	%span.code &lt;nav&gt;
	sin 
	%span.code &lt;ul&gt; 
	y con botones de texto e ícono en su interior. 
%p
	El texto puede estar envuelto en una etiqueta 
	%span.code &lt;span&gt; 
	o suelto, aunque con esta última opción el texto pierde sus márgenes laterales.
%nav
	%a
		%i
		%span button 1
	%a
		%i
		%span button 2
	%a
		%span button 3
		%i
	%a
		%span button 4
		%i
%pre
	= preserve do
		:escaped
			<nav>
			  <a>
			    <i></i>
			    <span>button 1</span>
			  </a>
			  <a>
			    <i></i>
			    <span>button 2</span>
			  </a>
			  <a>
			    <span>button 3</span>
			    <i></i>
			  </a>
			  <a>
			    <span>button 4</span>
			    <i></i>
			  </a>
			</nav>	
%h2
	%span.code &lt;nav&gt;
	sin 
	%span.code &lt;ul&gt; 
	y botones con ícono en su interior							
%nav
	%a
		%i
	%a
		%i
	%a
		%i
	%a
		%i
%pre
	= preserve do
		:escaped
			<nav>
			  <a>
			    <i></i>
			  </a>
			  <a>
			    <i></i>
			  </a>
			  <a>
			    <i></i>
			  </a>
			  <a>
			    <i></i>
			  </a>
			</nav>
%h1 TABBARS
%p
	Recuerda que a los
	%span.code &lt;nav&gt; 
	debes agregarle el atributo
	%span.code data-type="tabbar" 					
%h2 
	Tabbar con 
	%span.code &lt;ul&gt;
	y botones de texto en su interior
%nav{"data-type" => "tabbar"}
	%ul
		%li
			%a button 1
		%li
			%a button 2
		%li
			%a button 3
		%li
			%a button 4
%pre
	= preserve do
		:escaped
			<nav data-type="tabbar">
			  <ul>
			    <li>
			      <a>button 1</a>
			    </li>
			    <li>
			      <a>button 2</a>
			    </li>
			    <li>
			      <a>button 3</a>
			    </li>
			    <li>
			      <a>button 4</a>
			    </li>
			  </ul>
			</nav>
%h2
	Tabbar sin 
	%span.code &lt;ul&gt; 
	en su interior y con botones de texto
%nav{"data-type" => "tabbar"}
	%a button 1
	%a button 2
	%a button 3
	%a button 4
%pre
	= preserve do
		:escaped
			<nav data-type="tabbar"> 
			  <a>button 1</a>
			  <a>button 2</a>
			  <a>button 3</a>
			  <a>button 4</a>
			</nav>		

%h2
	Tabbar con 
	%span.code &lt;ul&gt; 
	y botones con ícono en su interior.
%nav{"data-type" => "tabbar"}
	%ul
		%li
			%a
				%i
		%li
			%a
				%i
		%li
			%a
				%i
		%li
			%a
				%i
%pre
	= preserve do
		:escaped
			<nav data-type="tabbar">
			  <ul>
			    <li>
			      <a>
			        <i></i>
			      </a>
			    </li>
			    <li>
			      <a>
			        <i></i>
			      </a>
			    </li>
			    <li>
			      <a>
			        <i></i>
			      </a>
			    </li>
			    <li>
			      <a>
			        <i></i>
			      </a>
			    </li>
			  </ul>
			</nav>				
		

%h2
	Tabbar sin
	%span.code &lt;ul&gt; 
	y con íconos en los botones
%nav{"data-type" => "tabbar"}
	%a
		%i
	%a
		%i
	%a
		%i
	%a
		%i
%pre
	= preserve do
		:escaped
			<nav data-type="tabbar"> 
			  <a>
			    <i></i>
			  </a>
			  <a>
			    <i></i>
			  </a>
			  <a>
			    <i></i>
			  </a>
			  <a>
			    <i></i>
			  </a>
			</nav>		

%h2
	Tabbar con
	%span.code &lt;ul&gt; 
	y botones con ícono y texto
%nav{"data-type" => "tabbar"}
	%ul
		%li
			%a
				%i
				button 1
		%li
			%a
				%i
				button 2
		%li
			%a
				%i
				button 3
		%li
			%a
				%i
				button 4
%pre
	= preserve do
		:escaped
			<nav data-type="tabbar">
			  <ul>
			    <li>
			      <a>
			        button 1
			        <i></i>
			      </a> 
			      <a>
			        button 2
			        <i></i>
			      </a>  
			      <a>
			        button 3
			        <i></i>
			      </a>  
			      <a>
			        button 4
			        <i></i>
			      </a>   
			    </li>
			  </ul>
			</nav>				


%h2
	Tabbar sin
	%span.code &lt;ul&gt; 
	y con botones de texto
%nav{"data-type" => "tabbar"}
	%a
		%i
		button 1
	%a
		%i
		button 2
	%a
		%i
		button 3
	%a
		%i
		button 4
%pre
	= preserve do
		:escaped
			<nav data-type="tabbar">
			  <a>
			    <i></i>
			    button 1
			  </a>
			  <a>
			    <i></i>
			    button 2
			  </a> 
			  <a>
			    <i></i>
			    button 3
			  </a> 
			  <a>
			    <i></i>
			    button 4
			  </a>  
			</nav>				

