= content_for :title do
  Coolstrapp Kitchen-sink
  
= content_for :application_styles do
  = stylesheet_link_tag "themes/coolstrap"
  %link{:href => "assets/stylesheets/customtheme.css", :rel => "stylesheet", :type => "text/css"}

= content_for :principal do
  %div{"role" => "main"}

    = partial "examples/demo/section_home"
    = partial "examples/demo/section_twitter"
    = partial "examples/demo/section_list"

  = partial "examples/demo/aside_onleft"
  = partial "examples/demo/aside_onright"
  = partial "examples/demo/aside_ontop"
  = partial "examples/demo/aside_onbottom"
  
= content_for :application_js do
  %script{:src => "app/app.js", :type=> "text/javascript"}
  
