= content_for :title do
  Form Elements Demo

= content_for :application_styles do
  = stylesheet_link_tag "themes/coolstrap"
  %link{:href => "assets/stylesheets/customtheme.css", :rel => "stylesheet", :type => "text/css"}

= content_for :principal do
  %div.a{"role" => "main"}

    %header
      %a{:href => "listview.html"} Lists
      %hgroup
        %h1 COOLSTRAP
        %h2 Form Elements Demo
      %a Entrar
    %footer
      %a Button
      %a Button
      %a Button
      %a Button
      %a Button

    %section.current
      %nav{"data-type" => "toolbar"}
        %input{:type => "text"}
        %a search


      %article.scrollable

        %h1 Radio y checkbox simples
        %form.inset

          .content
            %label
              %input{:type => "checkbox"}
              Atun palta

          .content
            %label
              %input{:type => "radio"}
              Atun palta



        %h1 horizontales
        %form.inset
          .content.horizontal
            %label
              %input{:type => "checkbox"}
              Atun palta
          .content.horizontal
            %label
              %input{:type => "radio", :name => "radio"}
              Riquitiqui


        %h1 Con porcentajes. horizontal
        %form.inset
          .content.horizontal
            .aside
              %i.icon-phone-sign
            %input{:type => "tel"}

          .content.horizontal
            .aside Larger Adress
            %input{:type => "text"}

          .content.horizontal.start
            .aside Tomatican con pollo y mermelada de palta
            %input{:type => "text"}

          .content.horizontal.start
            .aside Tomatican
            %textarea

          .content.horizontal
            .aside Tomatican
            %select
              %option{:value => "option 1"}  option 1
              %option{:value => "option 2"}  option 2
              %option{:value => "option 3"}  option 3

        %h1 Label encima
        %form.inset
          .content.stack
            %label
              Name
              %input{:type => "text"}

          .content.stack
            %label
              Date
              %input{:type => "date"}

          .content.stack
            %label
              Tomatican
              %select
                %option{:value => "option 1"}  option 1
                %option{:value => "option 2"}  option 2
                %option{:value => "option 3"}  option 3

        %ul{"data-type" => "listview"}
          %li
            .content Elemento 1
          %li
            .content Elemento 1
          %li
            .content Elemento 1
          %li
            .content.horizontal
              %label
                %input{:type => "checkbox"}
                Atun palta






  %aside{"data-type" => "onLeft"}

  %aside{"data-type" => "onRight"}

  %aside{"data-type" => "onTop"}

  %aside{"data-type" => "onBottom"}
= content_for :application_js do
  %script{:src => "app/app.js", :type=> "text/javascript"}
  %script{:src => "app/events.js", :type=> "text/javascript"}