%aside.onLeft#aside-left
  = header do
    %input{ :placeholder => 'Busquedas' }
  
  = section({ :class => 'scrollable' }) do
    = list_view do
      
      %li
        .aside
          .picture.small
        .content
          %h1 Don Francisco
      
      = divider do
        Favorites
      
      %li
        .aside
          = icon :"comment-alt"
        .content
          %h1 Messages
        .aside
          .badge 30 +
      %li
        .aside
          = icon :"map-marker"
        .content
          %h1 Near from you
      %li
        .aside
          = icon :group
        .content
          %h1 Friends
      %li.list-divider Apps

      %li
        = link_to  "#twitter", {"data-target" => "section"} do
          .aside
            = icon :twitter
          .content
            %h1 Twitter
          .aside
            = icon :signin
      %li
        .aside
          = icon :pinterest
        .content
          %h1 Pinterest
        .aside
          = icon :signin
      %li
        .aside
          = icon :github
        .content
          %h1 Github
        .aside
          = icon :signin