= article({ :id => 'first-page', :class => 'scrollable' }) do

  %nav
    %a boton
    %a boton
    %a boton
    %a boton
    %a boton

  = list_view({ :id => "someid", :class => "inset" }) do
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"
    = list_item do
      = link_to "#collection" , "data-target" => "section" do
        .content
          .title Example Link - run "coolstrap s list [Domain] [collection]"
        .aside
          = icon :"chevron-right"

