%aside.onTop#aside-top
  = toolbar do
    %input
    %a 
      = icon(:search)

  = section do
    = tabbar do
      %a= icon(:picture, :text=>"PHOTOS")
      
      %a.is-active 
        = icon(:music) do
          AUDIO
      %a 
        = icon(:film)
      %a 
        = icon(:group)
      %a 
        = icon(:book)